[Unit]
Description=Taaranator Robot Brain
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/andrea/taaranator-rpi/main.py
WorkingDirectory=/homr/pi/taaranator-rpi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=andrea

[Install]
WantedBy=multi-user.target